html, body {
	overflow-y: hidden;
	overflow-x: hidden;

}

#loadingMessage h1 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 18pt;
	font-weight: bold;
}

/* http://colorschemedesigner.com/#3U31Tw0w0w0w0 */
.navbar {
	background-color: #043A6B;
}

.navbar .navbar-brand {
	height: 40px;
	color: #679FD2;
}

.main-logo {
	vertical-align: top;
}

.main-container-inner {
	overflow-x: hidden;
	overflow-y: hidden;
}

.page-content {
	background-image:url('/img/textures/white_brick_wall.png');
	/*background-color: #f4f6f9;*/
	overflow-y: scroll;
	overflow-x: scroll;
	padding: 0px;
	margin: 0px;
}

.ace-settings-box div {
	max-height: none;
}

.listerly-list {
	width: 350px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

.listerly-list .list-body {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	max-width: none;
}

.listerly-list .list-body .list-main .list-item {
	margin: 2px 0px 0px 2px;
	font-weight: normal;
}

.dd-handle {
	color: #3a87ad;
	/*background-color: #d9edf7;*/
	font-weight: normal;
	color: #31708f;
	background-color: #d9edf7;
}

.listerly-list .list-body .list-main .list-item:last-child {
	margin-bottom: 5px;
}

.listerly-list .collapse {
	display: none;
}

.verticals .listerly-list .collapse {
	display: inline;
}

.verticals .listerly-list {
	width: 95%;
}

.list-item-actions {
/*	margin: 5px 0;
	padding: 8px 5px;
*/}

.list-item-primary-action {
	float: left!important;
}

.dd-list .dd-list .dd-handle {
	font-size: 8pt;
}

.list-item > button[data-action="listcheckbox"],
.list-item > button[data-action="listcheckboxchecked"], 
.list-item > button[data-action="edititem"]{
	height: 20px;
	width: 15px;
	float: right;
}

.list-item > button[data-action="edititem"]{
	margin-right: 15px;
}

.list-item > button[data-action="listcheckbox"],
.list-item > button[data-action="listcheckboxchecked"]{
}

.list-item > button[data-action="listcheckbox"]:before,
.list-item > button[data-action="listcheckboxchecked"]:before,
.list-item > button[data-action="edititem"]:before
{
    font-family: "listerly-font";
}

.list-item > button[data-action="listcheckbox"]:before {
	content: '\e818';
	color: #777777;
}

.list-item > button[data-action="listcheckboxchecked"]:before {
	content: '\e817';
	color: #44AA44;
}

.list-item > button[data-action="edititem"]:before {
	content: '\e845';
	color: #777799;
}

.list-item > button[data-action="edititem"]:hover:before {
	color: #000022;
}

.list-item > button[data-action="collapsel"],
.list-item > button[data-action="expand"]{
	height: 15px;
	width: 10px;
	float: left;
	font-size: 10px;
	margin-top: 8px;
}

.list-item > button[data-action="collapsel"]:before,
.list-item > button[data-action="expand"]:before
{
	font-size: 6pt;
}

.list-item > button[data-action="collapsel"]:before {
    font-family: FontAwesome;
	content: '\f068';
}

.widget-toolbar i:before {
	color: #cccccc;
}

.dd-dragel > li > .dd-handle {
    border-left: 1px solid #777;
}

.list-item > button:hover ~ .dd-handle[class*="btn-"],
.list-item > button:hover ~ .dd2-content[class*="btn-"] {
  opacity: 0.85;
  color: #FFF;
}

.list-item > button {
  display: block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 1px 5px 5px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  top: 4px;
  left: 1px;
  color: #707070;
}

.list-item > button:before {
  font-family: FontAwesome;
  content: '\f067';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
  font-weight: normal;
  font-size: 14px;
}

.list-item > button[data-action="collapse"]:before {
  content: '\f068';
}

.list-item > button:hover {
  color: #707070;
}

.modal-header {
	background-color: #eff3f8;
}

.form-actions {
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -20px;
}

.form-field-email-note {
	margin-top: -10px;
}

ul.parsley-errors-list { padding-left:20px; list-style:none; display:inline;}
ul.parsley-errors-list li { margin-bottom:10px; color: red;}
ul.parsley-errors-list li:before {    
    font-family: 'FontAwesome';
    content: '\f06a';
	color: red;
    margin:0 5px 0 -15px;
}
