html, body {
	overflow-y: hidden;
	overflow-x: hidden;

}

#loadingMessage h1 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 18pt;
	font-weight: bold;
}

.navbar {
	background-color: #307ecc;
}

.navbar .navbar-brand {
	height: 40px;
}

.main-logo {
	vertical-align: top;
}

.main-container-inner {
	overflow-x: hidden;
	overflow-y: hidden;
}

.page-content {
	background-image:url('/img/textures/white_brick_wall.png');
	/*background-color: #f4f6f9;*/
	overflow-y: scroll;
	overflow-x: scroll;
	padding: 0px;
	margin: 0px;
}

.ace-settings-box div {
	max-height: none;
}

.listerly-list {
	width: 350px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

.listerly-list .list-body {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	max-width: none;
}

.listerly-list .list-body .list-main .list-item {
	margin: 2px 0px 0px 2px;
	font-weight: normal;
}

.dd-handle {
	color: #3a87ad;
	/*background-color: #d9edf7;*/
	font-weight: normal;
}

.listerly-list .list-body .list-main .list-item:last-child {
	margin-bottom: 5px;
}

.listerly-list .collapse {
	display: none;
}

.verticals .listerly-list .collapse {
	display: inline;
}

.verticals .listerly-list {
	width: 95%;
}

.list-item-actions {
/*	margin: 5px 0;
	padding: 8px 5px;
*/}

.list-item-primary-action {
	float: left!important;
}

.dd-list .dd-list .dd-handle {
	font-size: 8pt;
}

.dd-item > button[data-action="listcheckbox"]{
	height: 20px;
}

.dd-item > button[data-action="listcheckbox"]:before {
    font-family: "listerly-font";
	content: '\e818';
	color: red;
}

.dd-item > button[data-action="listcheckboxchecked"]{
	height: 20px;
}

.dd-item > button[data-action="listcheckboxchecked"]:before {
    font-family: "listerly-font";
	content: '\e817';
	color: green;
}
