
.iconl-clipboard-list:before { content: '\e81e'; } /* '' */
.iconl-check-empty:before { content: '\e818'; } /* '' */
.iconl-conversation:before { content: '\e81c'; } /* '' */
.iconl-db:before { content: '\e808'; } /* '' */
.iconl-lightbulb:before { content: '\e81f'; } /* '' */
.iconl-uniF200:before { content: '\e80a'; } /* '' */
.iconl-people:before { content: '\e807'; } /* '' */
.iconl-spin3:before { content: '\e80b'; } /* '' */
.iconl-spin4:before { content: '\e80c'; } /* '' */
.iconl-bugtrack:before { content: '\e811'; } /* '' */
.iconl-tasks-1:before { content: '\e812'; } /* '' */
.iconl-user:before { content: '\e81a'; } /* '' */
.iconl-users:before { content: '\e813'; } /* '' */
.iconl-user-add:before { content: '\e805'; } /* '' */
.iconl-thumbs-up:before { content: '\e800'; } /* '' */
.iconl-thumbs-down:before { content: '\e801'; } /* '' */
.iconl-bell-1:before { content: '\e80f'; } /* '' */
.iconl-clipboard:before { content: '\e81d'; } /* '' */
.iconl-docs:before { content: '\e806'; } /* '' */
.iconl-basket:before { content: '\e809'; } /* '' */
.iconl-tasks:before { content: '\e804'; } /* '' */
.iconl-monitor:before { content: '\e803'; } /* '' */
.iconl-mobile:before { content: '\e802'; } /* '' */
.iconl-flight:before { content: '\e820'; } /* '' */
.iconl-credit-card:before { content: '\e821'; } /* '' */
.iconl-twitter:before { content: '\e815'; } /* '' */
.iconl-facebook:before { content: '\e814'; } /* '' */
.iconl-gplus:before { content: '\e816'; } /* '' */
.iconl-dollar:before { content: '\e80d'; } /* '' */
.iconl-movie:before { content: '\e80e'; } /* '' */
.iconl-ok-circled:before { content: '\e810'; } /* '' */
.iconl-stop-circled:before { content: '\e81b'; } /* '' */
.iconl-check:before { content: '\e817'; } /* '' */
.iconl-recruiting:before { content: '\e819'; } /* '' */